@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@font_face {
  font-family: 'Montserrat';
    src: url("../assets/font/Montserrat-VariableFont_wght.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Alkatra", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
nav {
}
header {
}

.web_cabeza {
  height: 100vh;
}

.titulo {
  background-color: rgb(53, 58, 64);
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo img {
  width: 13rem;
}

.contenedorLogo {
  padding-left: 3rem;
  display: flex;
  align-items: center;
}

.contenedorLogo h2 {
  color: white;
}

ul {
  list-style: none;
}

.listaNav {
  display: flex;
  padding-right: 5rem;
}

.nav_li {
  color: rgb(143, 143, 143);
  padding: 0 0 0 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.color_navFist {
  color: white;
}

.color_navLast {
  color: green;
}

.LaConferencia {
 
  height: 90%;
  background:linear-gradient(to bottom, #00000070,#00000070), url(./assets/img/ba1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
}


.div_text {
  
  
text-align: right;
  padding-right: 5rem;
  color: white;
  
 
}

.parrafo_img {
  width: 30rem;
}

.btn{
  text-decoration: none;
  padding: 0.7rem;
  color: white;
  border-radius: 5px;
  margin-top: 2rem;
  
}

.btn_img_der{
border: 1px solid white;
margin-right: 1rem;




}

.btn_img_izq{
  
 background-color: green;
  
 
}



/*header*/

/*



/*CARD*/
.sectionOradores{
  height: 85vh;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.tituloRadores{
   text-align: center;
   font-size: 2rem;

}
.tituloRadores span{
  font-size: small;
  font-weight: 500;

}


.padreCards{
   height:100%;
   width: 75%;
   margin:0 auto;
   text-align: center;
   padding-bottom: 3rem;
}
.card{
   display:inline-block;
   height:80%;
   width: 30%;
   border: 1px solid rgb(169, 169, 169);
   margin-left:15px;
   border-radius: 5px;
   text-align: left;
}

.card img{
   height:55%;
   width: 100%;
   object-fit: cover;
   
}

.cardBody{
   width: 100%;
   padding:1rem;
}
.tituloCardBody , .bissnes , .Sturtup{
   display:inline-block;
   border-radius: 5px;
    padding: 0.1rem;
    margin-block-start:1rem;
    margin-block-end: 0;
   

   
}

.titulo-card{
  font-weight: 600;
  margin-block-start:0;
  margin-block-end: 0;
  }
  .card-parrafo{
  width: 90%;
  }

/* ETIQUITAS CARS*/
.js{
  background-color: rgb(224, 176, 18);
  font-size: small;
  padding:0.1rem ;
}

.react{
  font-size: small;
  padding:0.1rem ;
  background-color: rgb(0, 182, 182);
}

.bissnes{
  background-color: rgb(85, 85, 85);
  font-size: small;
  padding:0.1rem ;
  color:white;
}

.sturtup{
  background-color: rgb(182, 0, 0);
  color:white ;
  font-size: small;
  padding:0.1rem ;
}




/* Secccion Lugar y Fecha*/

.lugarFecha{
  height: 60vh;
  position:relative;
  padding-top: 10%;
}


.left{
  width: 49.9%;
  height: 100%;
  display: inline-block;
  border:1px solid white;
  background-image: url("./assets/img/honolulu.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:absolute;
  top:0;
  left:0;

}


.right{
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: rgb(47, 47, 47);
  color:white;
  position:absolute;
  top:0;
  right:0;
}

.right .text-lugaryfecha{
  margin-left: 1rem ;
 width: 80%;

}

.right a{
  position: relative;
  top: 1rem;
  
  text-decoration: none;
  color: white;
  
  border: 1px solid white ; 
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
}

/*Coviertet en ORADOR*/

#convierteteEnOrador{
 display:flex;
 flex-direction: column;
text-align: center;
align-items: center;
align-content: center;
font-family: "Montserrat", sans-serif;

}


.convertiteOrador{
  font-size: small;
  font-weight: 500;
}


/*/FORMULARIO*/

.campos_input{
margin: 0 0.3rem 0.7rem ;
width: 15rem;
border: 0.5px solid #0000003b;
padding: 0.25rem;
}
.recordatorio{
  text-align: start;
  font-size: 10px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-left: 0;
}


#tex_area{
  border: 0.5px solid #0000003b;
}

.btn_enviar{
width:100%;
height: 2rem;
color: white;
background-color: rgb(155, 206, 73);
border: none;
}






/* FOOTEr*/
.footer{
  height: 5%;
  background-color: rgb(47, 47, 47);
  color:white;
  text-align: center;
  align-items: center;
  padding-top: 1rem;
  justify-content: center;
  overflow-wrap: break-word;
  
}

.footer div a{
  text-decoration: none;
  color:white;
  padding-left: 10px;
}

.wsp{
  height: 5rem;
  width: 5rem;
  margin: 0 1rem;
  object-fit: cover;
  position:fixed;
  bottom: 3rem;
  right: 1rem;
  
}


.wsp:hover{
 transform: scale(2);

 transition: ease-out;
 transition-delay: 0.1s;
}


/*///RESPONSIVE//*/


@media screen and (max-width:567px) {


.titulo{
height: auto;
  
  flex-direction: column;
  flex-wrap: wrap;

}

.contenedorLogo{
  width: 70%;

}

.titulo img {
  width: 10rem;
}
.nav_hd{

  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: initial;
  font-size: 1rem;
  padding: 0rem 1rem;

}
.nav_li{
  font-size: 1.5rem;
}

.listaNav{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-right: 0; 
  padding-inline-start: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  
}


.listaNav li{
margin: 0.20rem;
}

.LaConferencia{
  justify-content: center;
  height: 70%;
}

.div_text{
  text-align: center;
  align-items: center;
  padding-right: 0;
  
}
.sectionOradores{
  height: auto;
}

.padreCards{
  height: auto;
  width: 80%
  
  
}
.card{
  height: auto;
  width: auto;
  margin-bottom: 2rem;
}

.lugarFecha{
  
  text-align: center;
  align-items: center;
  

  
}

.left{
  display: none;
}
.right{
  width: auto;
  background:linear-gradient(to bottom, #00000070,#00000070), url(./assets/img/honolulu.jpg);
  
  background-repeat: no-repeat;
  background-size: cover;
  
  
}


.right .text-lugaryfecha{
  
  margin-left: 50;
  margin-block-end: 0;
  margin-block-start: 0;
margin-top: 1rem;
margin-bottom: 2rem;
text-align: center;
  align-items: center;

 
  
}
.text_LFgrupo{
margin-top: 40%;


}

.footer{
  font-size: 0.7rem;
}



}

@media screen and (min-width:568px) and (max-width: 767px){
  .titulo{
    height: auto;
      
      flex-direction: column;
      flex-wrap: wrap;
    
    }
    
    .contenedorLogo{
      width: 70%;
    
    }
    
    .titulo img {
      width: 10rem;
    }
    .nav_hd{
    
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: initial;
      font-size: 1rem;
      padding: 0rem 1rem;
     justify-content: space-between;
    }
    
    .listaNav{
      
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-right: 0; 
      padding-inline-start: 0;
      padding: 0;
      margin: 0;
      margin-bottom: 1rem;
      
      
    }
    .listaNav li{
    margin: 0.20rem;
    
    
    }
  .nav_li{
    padding: 0;
    font-size: 1.1rem;
  }
  #losOradores{
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }

  .LaConferencia{
    justify-content: center;
    height: 90%;
  }
  
  .div_text{
    text-align: center;
    align-items: center;
    padding-right: 0;
    font-size: 1.4rem;
    
  }
  .sectionOradores{
    height: auto;
  }
  
  .padreCards{
    height: 80%;
    
  }
  .card{
    height: auto;
    width: auto;
    margin-bottom: 2rem;
  }
  
  .lugarFecha{
    display: flex;
    text-align: center;
    align-items: center;
    
  
    
  }
  
  .left{
    display: none;
  }
  .right{
    width: auto;
    background:linear-gradient(to bottom, #00000070,#00000070), url(./assets/img/honolulu.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
   
    
  }
  .right .text-lugaryfecha{
  
    margin-left: 55;
    margin-block-end: 0;
    margin-block-start: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;

  
   
    
  }
  .text_LFgrupo{
  margin-top: 40%;
  
  
  }
  

  
  .footer{
    font-size: 0.7rem;
  }
  

}
